doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/simple-sidebar.css')
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        <![endif]-->
    body
        div#wrapper
            div#sidebar-wrapper
                ul.sidebar-nav
                    each menuItem in menu
                        li.sidebar-brand
                            a(href='#{menuItem.href}') #{menuItem.title}

            div#page-content-wrapper
                .container-fluid
                    .row
                        .col-lg-12
                            block content

        script(src='/js/jquery.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/script.js')